/txadmin
/txData
/db
/cache
resources/\[misc\]/fivex-gungame/data/kd.json
/resources/\[misc\]/fivex-gungame/data
server.cfg
/resources/\[misc\]/fivex-gungame/data
resources/\[misc\]/fivex-gungame/data/kd.json
server.cfg
