@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@600&display=swap');

.text-container {
  position: absolute;
  bottom: calc(3vh + 2px); /* placeret over hud */
  left: 50%;
  transform: translateX(-50%);
  display: flex;            /* sørger for, at elementerne ligger på linje */
  align-items: center;
  z-index: 1010;            /* over hud */
}

.bottom_playerid,
.bottom_vanity,
.separator {
  color: #fff;
  font-family: Poppins;
  font-size: 100%;
}

/* Bevar evt. tekstskygger for de enkelte elementer */
.bottom_playerid {
  text-shadow: 0px 6px 5px #0000008a;
}

.bottom_vanity {
  text-shadow: 5px 6px 5px #0000008a;
}

/* Juster evt. margin på separatoren, så der er passende afstand */
.separator {
  margin: 0 5px;
}